<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>机械臂控制面板</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='control.js') }}"></script>
</head>
<body>

    <h1>机械臂控制面板</h1>

    <!-- 按钮区 -->
    <div>
        <button onclick="sendInit()">1.机械臂初始化</button>
        <button onclick="sendReset()">2.机械臂复位</button>
        <button onclick="sendMove()">3.机械臂移动</button>
        <button onclick="sendCaptureKinect()">4.Kinect拍摄</button>
        <button onclick="sendDetectKinect()">5.yolo全局目标检测</button>
        <button onclick="sendRobotAutoMove()">6.自动移动到目标物体</button>
{#        <button onclick="sendDetectKinect()">7.yolo全局目标检测</button>#}
{#        <button onclick="sendDetectKinect()">8.yolo全局目标检测</button>#}
    </div>


    <!-- kinect图像显示区 -->
    <div class="info-image-container">
        <div class="image-box">
            <h4>Kinect 拍摄的全景图像</h4>
            <img id="kinect_image" src="" alt="Kinect 全景图像" />
        </div>

        <div class="image-box">
            <h4>YOLO 目标检测结果图像</h4>
            <img id="yolo_detect_image" src="" alt="YOLO 检测结果图像" />
        </div>

    </div>


    <!-- 信息显示框 -->
    <div class="info-image-container">
        <h3>状态显示</h3>
        <div id="status" class="output-box">等待操作...</div>
        <h3>信息显示</h3>
        <div id="info_display" class="output-box">等待操作...</div>
    </div>




</body>
</html>